
.css-1uncxzy-PrimaryNavContent {
  min-width: 110px;
    min-height: 52px;
    margin: 10px 0;
    text-indent: -9999px;
    background-image: url(/images/logo.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}
